@font-face {
    font-family: 'iFont'; /* 给字体起一个名字 */
    src: url('fonts/GenSenRounded2TW-R.otf') format('opentype'),
        url('fonts/GenSenRounded2-R.ttc') format('truetype-collection'); /*  指定字体文件的路径和格式 */
    /* 可以添加多个格式以提高兼容性 */
    /* src: url('fonts/my-custom-font.woff2') format('woff2'),
            url('fonts/my-custom-font.woff') format('woff'); */
}


body {
    font-family: 'iFont', "Segoe UI", sans-serif;
    background: #3904bc;
    color: #e0e0e0;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-width: 350px;
}

.navbar {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
    z-index: 950;
    position: sticky;
    top: 0;
    background-color: #c5f746e7;
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 0 #66bb6a;
}

.navbar div {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.navbar h1 {
    padding: 1rem;
    margin: 0;
    color: #3904bc;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 1rem;
    margin: 0;
    gap: 10px;
}

.navbar ul li {
    padding: 0.5rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #3904bc;
}

.navbar ul li::after {
    content: '';
    width:  0%;
    height: 2px;
    background-color: #085ca0;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/* sidebar */
.navba {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-self: center;
    z-index: 950;
    position: sticky;
    top: 0;
    background-color: #c5f746e7;
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 0 #66bb6a;
}

.navba div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.navba h1 {
    display: none;
    align-items: center;
    color: #3904bc;
    padding: 1rem;
    margin: 0;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #3904bc;
    right: 0;
    margin: 0.9rem 0;
}
.menu-toggle.non {
    display: none;
}

.menu {
    margin: 0 2rem;
    display: none;
    background: none;
    border: none;
    color: #3904bc;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* 隱藏 */
    width: 250px;
    height: 95%;
    background-color: #555555f5;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
    z-index: 990;

    border-radius: 15px;
    margin: 2rem;
    backdrop-filter: blur(4px);
}
.sidebar.show {
    right: 0; /* 顯示 */
}
.sidebar a {
    color: #c4f746;
    text-decoration: none;
    padding: 0 1rem;
    border-radius: 8px;
    transition: background-color 0.2s;
}
.sidebar a:hover {
    background-color: rgba(89, 112, 56, 0.755);
}
.sidebar div {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.sidebar div button {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    
}

.close-btn {
    align-self: flex-end;
    align-items: center;
    background: none;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    width: 40px;
    color: #c4f746;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 900;
  backdrop-filter: blur(1px);
  opacity: 0.8;
}
.overlay.show {
  display: block;
}
/* sidebar */

section {
    padding: 2rem 0 2rem 0;
    overflow-x: hidden; /* 隱藏水平滾動條 */
}

p {
    color: #a1a1a1;
}

.home {
    display: flex;
    margin: auto;
    padding: 5rem 0;
    width: 80%;
    /* flex-wrap: wrap; */
}

.text-box {
    width: 50%;
    padding: 1rem;
}

.info-button {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.button-1 {
    padding: 0.8rem 1.5rem;
    color: #3904bc;
    background-color: #c4f746;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.button-2 {
    padding: 0.8rem 1.5rem;
    color: #c4f746;
    background-color: #3904bc;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background 0.5s ease;
    /* box-shadow: 0 0 0 1.5px #47a4f1 inset; */
}

.button-3 {
    padding: 0.8rem;
    color: #3904bc;
    background-color: #c4f746;
    border-radius: 5px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background 0.5s  box-shadow 0.5s ease;
}

.button-1:hover {
    background-color: #3904bc;
    box-shadow: 0 0 0 1px whitesmoke inset;
    color: #c4f746;
}

.button-2:hover {
    background-color: rgba(89, 112, 56, 0.389);
}

.button-3:hover {
    background-color: #ffffffc0;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: #262727;
    width: 50%;
    margin: 0 2rem;
    height: 300px;
}

/* 作品集 */
.server {
    margin: auto;
    width: 80%;
    padding: 2rem 0;
}

.text-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.block {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 2rem 0;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #01a9a9;
    padding: 1.5rem;
    border-radius: 8px;
    width: 25%;
}

.card h2 {
    color: #3904bc;
}

.card p {
    color: #240a64;
}

.card a {
    text-decoration: none;
    color: #c4f746;
}

.muti-button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 10px;

}

.container-protfolio {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 1.5rem;
    flex-wrap: nowrap;
}

.card-protfolio {
    background-color: #01a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.text-box-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 40%;
    padding-left: 1rem;
}

.aboutus {
    display: flex;
    margin: auto;
    padding: 4rem 0;
    width: 80%;
}

.container-aboutus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: 
    "box-1 box-2"
    "box-3 box-4";
}

.card-aboutus {
    padding: 1rem;
    background-color: #01a9a9;
    border-radius: 8px;
}

.card-aboutus h3 {
    font-size: 20px;
    /* color: #90caf9; */
    color: #c4f746;
    margin: 0;
}

.card-aboutus p {
    margin: 0;
    color: #240a64;
}

.contact {
    width: 80%;
    margin: auto;
}

.contact-area {
    /* display: flex; */
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3欄，平均寬度 */
}

.contact-form {
    /* flex: 1; */
    background-color: #01a9a9;
    padding: 2rem;
    border-radius: 8px;
}

h3 {
    color: #3904bc;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-info {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    gap: 2rem;
}

.contactus {
    background-color: #01a9a9;
    /* width: 100%; */
    padding: 2rem;
    border-radius: 8px;
}

.contactus p{
    color: #240a64;
}

.followus {
    background-color: #01a9a9;
    /* width: 100%; */
    padding: 2rem;
    border-radius: 8px;
}

.footnote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footnote hr {
    width: 80%;
    border: 0.1px solid rgb(144, 144, 144);
}

/* form sheet */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #3904bc;
}

input, textarea {
  padding: 0.8rem;
  border: 1px solid #3904bc;
  border-radius: 5px;
  background: #01a9a9;
  color: #240a64;
  font-size: 12px;
}

button {
  margin-top: 1.5rem;
  padding: 0.8rem;
  background: #c4f746;
  color: #3904bc;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: rgba(89, 112, 56, 0.755);
}

#responseMsg {
  margin-top: 1rem;
  color: #66bb6a;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

#responseMsg.show {
  opacity: 1;
}

.hidden {
  display: none;
}
/* form sheet */

.socialmedia a img {
    margin-right: 6px;
    width: 2rem;
    height: 2rem;
    padding: 6px;
    background-color: #c4f746;
    border-radius: 999px;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 4rem;
    background-color: #c5f746cb;
    backdrop-filter: blur(1px);
    opacity: 0.8;
    transition: opacity 0.5s;
}
.back-to-top:hover {
    opacity: 1;
    background-color: #c5f746cb;
}

@media(max-width: 1280px) {
    /* 服務 */
    .server {
        width: 90%;
    }
    .block {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .card {
        border-radius: 12px;
        width: 80%;
    }

    /* 作品集 */
    .protfolio {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    /* .container-protfolio {

    } */
}

@media(max-width: 1000px) {
    /* 導航列 */
    .navbar {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .menu {
        display: block;
        height: 50px;
    }

    .navba h1 {
        display: flex;
    }
    /* 導航列 */

    .aboutus {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-box-3 {
        width: 100%;
    }

    /* 作品集 */
    .container-protfolio {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);
    }
    .card-protfolio {
        min-height: 200px;
    }

    .back-to-top {
        margin: 3rem;
    }
}

@media(max-width: 720px) {
    .home {
        width: 90%;
        flex-direction: column;
    }
    .text-box {
        margin: auto;
        width: 80%;
        margin-bottom: 2rem;
    }
    .image-box {
        width: 80%;
        /* height: ; */
    }

    /* 服務 */
    .server {
        width: 90%;
    }
    .block {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .card {
        border-radius: 12px;
        width: 80%;
    }

    /* 作品集 */
    .container-protfolio {
        display: flex;
        /* grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr) ; */
        flex-wrap: wrap;
    }
    .card-protfolio {
        max-width: 300px;
    }

    /* 關於我們 */
    .aboutus {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .text-box-3 {
        width: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        padding: 0;
    }
    .container-aboutus {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) ;
    }

    /* 聯絡資訊 */
    .contact {
        width: 90%;
    }
    .contact-area {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .contact-form {
        border-radius: 12px;
    }
    .contactus {
        border-radius: 12px;
    }
    .followus {
        border-radius: 12px;
    }

    .back-to-top {
        margin: 2rem;
    }
}

@media (max-width: 600px) {
  .container {
    margin: 1rem;
    padding: 1rem;
  }

  /* 作品集 */
    /* .container-protfolio {

    }
    .card-protfolio {

    } */

    .back-to-top {
        margin: 1rem;
    }
}

@media (max-width: 350px) {
    .back-to-top {
        margin: 0.5rem;
    }
}

